/* Main CSS */

body {
    margin: 0;
    padding: 0;
    background-color: #263238;
}

h1 {
    font-family: "Anders";
    text-align: center;
    color:#E0E0E0;
    margin: 150px auto;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}

.divider {
    margin: 50px auto;
    width: 250px;
    border-bottom: dashed #37474F 1px;
}

a {
    color: #2196F3;
}

h2 {
    display: block;
    margin: 75px auto;
    margin-bottom: 25px;
    width: 900px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: #E0E0E0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.code, .output {
    width: 850px;
    margin: 25px auto;
    display: block;
}

.output {
    margin-top: -20px;
}

.output pre {
    background: #272822;
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    padding: 1em;    
    border-radius: 0.3em;
    font-size: 16px;
}

p {
    display: block;
    width: 800px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FFF;
    margin: 25px auto;
    line-height: 1.25;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

p b {
    display: inline-block;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-weight: 400;
    background-color: #37474F;
    padding: 1px 2px;
    border-radius: 4px;
    text-shadow: none;
}


.footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #E0E0E0;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
