
@font-face {
  font-family: 'Anders';
  src: url('Anders.eot?#iefix') format('embedded-opentype'),  url('Anders.woff') format('woff'), url('Anders.ttf')  format('truetype'), url('Anders.svg#Anders') format('svg');
  font-weight: normal;
  font-style: normal;
}
